Repository eduardovaillant/editora-celeste, pull requests merged in 2021-07, with the labels that each got.

#43 Feature/cadastro
  codigos/backend/ec/ec/src/main/java/edu/ifes/ci/si/les/ec/controllers/UsuarioController.java
  codigos/backend/ec/ec/src/main/java/edu/ifes/ci/si/les/ec/model/Usuario.java
  codigos/backend/ec/ec/src/main/java/edu/ifes/ci/si/les/ec/repositories/UsuarioRepository.java
  codigos/backend/ec/ec/src/main/java/edu/ifes/ci/si/les/ec/services/UsuarioService.java
  codigos/backend/ec/ec/src/main/java/edu/ifes/ci/si/les/ec/services/_DBService.java
  codigos/backend/ec/ec/src/main/java/edu/ifes/ci/si/les/ec/services/exceptions/ConstraintException.java
  codigos/backend/ec/ec/src/main/java/edu/ifes/ci/si/les/ec/services/exceptions/DataIntegrityException.java
  codigos/backend/ec/ec/src/main/java/edu/ifes/ci/si/les/ec/services/exceptions/ObjectNotFoundException.java
Labels: backend

#47 Criação do CRUD UF
  codigos/backend/ec/ec/src/main/java/edu/ifes/ci/si/les/ec/controllers/UFController.java
  codigos/backend/ec/ec/src/main/java/edu/ifes/ci/si/les/ec/services/UFService.java
Labels: backend, crud

#52 [RF] Bairro
  codigos/backend/ec/ec/src/main/java/edu/ifes/ci/si/les/ec/controllers/BairroController.java
  codigos/backend/ec/ec/src/main/java/edu/ifes/ci/si/les/ec/services/BairroService.java
Labels: crud, frontend
